body {
  background-color: rgb(37, 26, 26);
}

body {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 p {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 h1 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 h2 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
  margin-bottom: unset;
}

 h3 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 20px;
}

.header {
  margin-top: 10px;
  font-family: 'Inconsolata', sans-serif;
}

.header-area {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 80px;
  background: rgba(37, 26, 26);
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header-area .main-nav {
  min-height: 80px;
  background: transparent;
}

.header-area .main-nav .logo {
  line-height: 80px;
  color: rgb(235, 201, 201);
  font-size: 34px;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
  font-style: normal;
  color: rgb(72, 222, 42);
  font-weight: 900;
}

.header-area .main-nav .nav {
  float: right;
  margin-top: 27px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a {
  color: rgb(235, 201, 201);
}

.header-area .main-nav .nav li:hover > a,
.header-area .main-nav .nav li > a.active {
  color: rgb(72, 222, 42)!important;
  opacity: 1;
}

.header-area.header-sticky .nav {
  margin-top: 80px !important;
}

@media (max-width: 767px) {
  .header-area .main-nav .logo {
    color: rgb(37, 26, 26);
}

/* Imposta il colore dei link su azzurro chiaro */
a {
  color: rgb(75, 209, 243);
}

/* Imposta un colore diverso per i link quando vengono passati con il mouse */
a:hover {
  color: rgb(0, 102, 255);
}

/* Imposta un colore diverso per i link quando vengono cliccati */
a:active {
  color: green;
}

/* Imposta un colore diverso per i link già visitati */
a:visited {
  color: purple;
}

@media only screen and (max-width: 600px) {

  .container {
    margin: 10px;
  }
}
/* Imposta le dimensioni del grafico per la visualizzazione da desktop */
#myChart {
  width: 400px;
  height: 300px;
}

/* Imposta le dimensioni del grafico per la visualizzazione da mobile */
@media only screen and (max-width: 600px) {
  #myChart {
    width: 300px;
    height: 200px;
  }
}