body {
  background-color: rgb(37, 26, 26);
}

body {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 p {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 h1 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

 h2 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
  margin-bottom: unset;
}

 h3 {
  color: rgb(235, 201, 201);
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 20px;
}

.header {
  margin-top: 10px;
  font-family: 'Inconsolata', sans-serif;
}

/* Imposta il colore dei link su azzurro chiaro */
a {
  color: rgb(75, 209, 243);
}

/* Imposta un colore diverso per i link quando vengono passati con il mouse */
a:hover {
  color: rgb(0, 102, 255);
}

/* Imposta un colore diverso per i link quando vengono cliccati */
a:active {
  color: green;
}

/* Imposta un colore diverso per i link già visitati */
a:visited {
  color: rgb(128, 0, 128);
}

@media only screen and (max-width: 600px) {

  .container {
    margin: 10px;
  }
}
/* Imposta le dimensioni del grafico per la visualizzazione da desktop */
#myChart {
  width: 800px;
  height: 600px;
}

/* Imposta le dimensioni del grafico per la visualizzazione da mobile */
@media only screen and (max-width: 600px) {
  #myChart {
    width: 300px;
    height: 200px;
  }
}

.container {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(0, 102, 255);
  margin: 0;
  padding: 0;
}

.container a {
  display: block;
  text-decoration: none;
  color: rgb(128, 0, 128);
  padding: 10px 20px;
  border-bottom: 1px solid rgb(0, 102, 255);
  transition: all 0.3s ease-out;
}

.container a.active,
.container a:hover {
  background-color: rgb(37, 26, 26);
  color: rgb(128, 0, 128);
}

.container .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgb(37, 26, 26)f;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.container .dropdown li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  transition: all 0.3s ease-out;
}

.container .dropdown li a:hover {
  background-color: #f2f2f2;
  color: #333;
}

.container:hover .dropdown {
  display: block;
}
